
.env
.env.*
!.env.example

.DS_Store
Thumbs.db
Desktop.ini


.vscode/
.idea/
*.swp
*.swo


logs/
*.log
*logs.txt

**pycache**/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
.eggs/
dist/
build/
*.sqlite3
.venv/
venv/
env/


node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
package-lock.json


docker-compose.override.yml


coverage/
htmlcov/
.pytest_cache/


out/


QLDT_FINAL.xlsx
text2sql_chatbot/
postgres_data/
utils/ascendant-nova-478100-q0-a825170022ba.json




/postgres_data//
wren-ui/.next/
wren-ui/out/
wren-ui/build/
wren-ui/db.sqlite3
wren-ui/coverage/
wren-ui/.turbo/
wren-ui/.vercel/
